<?xml version="1.0" encoding="UTF-8"?>
<odoo>

    <menuitem
        id="menu_shopify_root"
        name="Shopify"
        groups="shopify_connector.group_shopify_user"
        web_icon="shopify_connector,static/description/icon.png"
        sequence="45"
    />

    <menuitem
        id="menu_shopify_dashboard"
        name="Dashboard"
        parent="menu_shopify_root"
        action="shopify_dashboard_action"
        sequence="5"
    />

    <menuitem
        id="menu_shopify_stores"
        name="Stores"
        parent="menu_shopify_root"
        action="shopify_instance_action"
        sequence="10"
    />

    <menuitem
        id="menu_shopify_queue"
        name="Queue"
        parent="menu_shopify_root"
        action="shopify_queue_action"
        sequence="20"
    />

    <menuitem
        id="menu_shopify_logs"
        name="Logs"
        parent="menu_shopify_root"
        action="shopify_log_action"
        sequence="30"
    />

    <menuitem
        id="menu_shopify_settings"
        name="Settings"
        parent="menu_shopify_root"
        action="shopify_settings_action"
        sequence="90"
        groups="shopify_connector.group_shopify_manager"
    />

</odoo>
